// AWS_key 예외처리

.aws_key/
.aws_key/hustar_final_project.pem
.aws_key/hustar_final_project.ppk

*.pem
*.ppk

.usr1/
usr1/src/linux-headers-4.15.0-1051-aws/include/soc/arc/aux.h
hustar_server/hustar_server.zip
hustar_server/coex_server.zip
hustar_server/hustar_server (2).zip
hustar_app/.idea/.name
hustar_server/server_기능_설명.xlsx
hustar_server/~$server_기능_설명.xlsx
hustar_server/vendor/
