<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>내 계정 수정</title>

  <!-- Custom fonts for this template-->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template-->
  <link href="css/sb-admin.css" rel="stylesheet">

  <script>
      $(document).ready(function(){          
          $("#inputemail").val(email);  
          $("#inputPassword").val(password);
      });
    </script>
  <script>
    var usn = sessionStorage.getItem('usn');
    var password = sessionStorage.getItem('password');

    var url = "/userinfo/" + usn;

    $.ajax({
      method: "GET",
      //url: "/userinfo/"+usn,
      url: url,
      data: {
        }
    }).done(function (msg) {
      console.log(msg);
      email = msg.email;
      password = msg.password;
    });
  </script>
</head>

<body id="page-top">
  <nav class="navbar navbar-expand navbar-dark bg-dark static-top">
     
    <a class="navbar-brand mr-1" href="/main">HUSTAR</a>
    <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
      <i class="fas fa-bars"></i>
    </button>
    <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
      <div class="input-group">
        <div class="input-group-append"></div>
      </div>
    </form>
    <!-- Navbar -->
    <ul class="navbar-nav ml-auto ml-md-0">
      <li class="nav-item dropdown no-arrow">
        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-user-circle fa-fw"></i>
        </a>
        <!-- user icon-->
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
          <a>   
            <script>
              var name = sessionStorage.getItem('name');
              document.write(name);
            </script>
          </a> &nbsp &nbsp &nbsp
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" data-toggle="modal" data-target="#logoutModal">Logout</a>
        </div>
      </li>
    </ul>
  </nav>

  <div id="wrapper">
    <!-- Sidebar -->
    <ul class="sidebar navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/main">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          
          <span>메인</span>
          
        </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-fw fa-folder"></i>

          <span>교육생 현황</span>
        </a>
        
       
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/charts">
          <i class="fas fa-fw fa-chart-area"></i>
          <span>출결 현황</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/maps">
          <i class="fas fa-fw fa-chart-area"></i>
          <span>Map</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-fw fa-folder"></i>
          <span>내 계정관리</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="pagesDropdown">
          <a class="dropdown-item" id="myaccountb" href="/myaccount">내 계정</a>
          <a class="dropdown-item" href="/change_password">비밀번호 변경</a>
          <a class="dropdown-item" id="signoutb" href="#" data-toggle="modal" data-target="#logoutModal">로그아웃</a>
          <a class="dropdown-item" href="/change_idcancellation">회원 탈퇴</a>


    </ul>

  <div class="container">
    <div class="card card-login mx-auto mt-5">
      <div class="card-header">회원탈퇴</div>
      <div class="card-body">
        <div class="text-center mb-4">
        
          <p>당신의 현재 비밀번호를 입력하시오.</p>
        </div>
        <form>
          <div class="form-group">
            <div class="form-label-group">
              <input type="text" id="inputEmail" class="form-control" placeholder="Enter email address" required="required" autofocus="autofocus">
              <label for="inputEmail">현재 비밀번호 입력</label>
            </div>
          </div>
          <a class="btn btn-primary btn-block" href="confirm-idcancellation.html">인증</a>
        </form>
        <div class="text-center">   
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

</body>

</html>
