<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>비밀번호 찾기</title>

  <!-- Custom fonts for this template-->
  <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template-->
  <link href="/css/sb-admin.css" rel="stylesheet">

  <style>
    body {
      background-image: url("https://ifh.cc/g/Zzv5w.jpg ");
      background: url(https://ifh.cc/g/Zzv5w.jpg) no-repeat center center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      opacity: 0.75;
    } 
    
    </style>

</head>

<body class="bg-dark">
  <div class="container">

    </div>
    <div class="card card-login mx-auto mt-3" style="margin-top: 5px;">
      <div class="card-header">비밀번호 찾기</div>
      <div class="card-body">
        <div class="text-center mb-4">
          <h4>비밀번호 잃어버렸나요</h4>

          <p>아이디와 생년월일을 입력해주세요.</p>
          <p>임시비밀번호를 발급해드릴께요.</p>
        </div>
        <form>
          <div class="form-group">
            <div class="form-label-group">
              <input type="email" name = "email" id="inputEmail" class="form-control" placeholder="Enter email address" required="required" autofocus="autofocus">
              <label for="inputEmail">아이디(이메일)를 입력</label>
            </div>
            <div class="form-label-group">
                <input type="date" name = "birth" id="birth" class="form-control" required="required" autofocus="autofocus">
                <label for="birth">생년월일 입력</label>
            </div>
          </div>
          <a class="btn btn-primary btn-block" id="repassb">임시 비밀번호 발급</a>
        </form>
        
        <script type="text/javascript">
          //When click the reset btn
          document.getElementById("repassb").addEventListener('click', function(){
            // Check the value are all filled
            var email = $('input[name = email]').val();
            var birth = $('input[name = birth]').val();
            
            if(email == ""){
              alert("아이디를 입력하세요");
            }else if(birth == ""){
              alert("생년월일을 입력하세요");
            }else{
              //send json
              $.ajax({
              method: "POST",
              url: "/newpassword",
              data: {
                "EMAIL": email,
                "BIRTH": birth               
              }
              }).done(function( msg ) {
                  //If sign_up success, show up the sign in page
                  if(msg.message == 0){
                    alert("임시 비밀번호를 발급해드렸어요. 메일을 확인해주세요");
                    location.href = "/";
                  }
                  if(msg.message == 1){
                    alert("Hustar 회원이 아니시네요!");
                    location.href = "/signup/email";
                  }
                  if(msg.message == 2){
                    alert("Sorry, we can't send a email to you.\n Could you try one more?");
                  }
              });         
            }
          });
        </script>

        <div class="text-center">
          <div style="margin-top: 15px;">
          <a class="d-block small" href="/">로그인 페이지</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

</body>

</html>
