<!DOCTYPE html>
<html lang="kr">

    <head>       
        <!-- 로그인 SESSION이 없으면 로그인 페이지로 이동 -->
        <script>
            if (sessionStorage.getItem('usn') == null) {
                location.href = "/";
            }        
        </script>              

        <link
            rel="stylesheet"
            href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css"/>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>기기 등록</title>
        
        <!-- Custom fonts for this template-->
        <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
        
        <!-- Page level plugin CSS-->
        <link href="/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">

        <!-- Custom styles for this template-->
        <link href="/css/sb-admin.css" rel="stylesheet">

        <!-- <link href="/css/bootstrap/bootstrap.css" rel="stylesheet"> -->        

        <!-- Tab 왼쪽 아이콘-->
        <link rel="shortcut icon" href="/icon/hustar.ico" type="image/x-icon"/>       

        <!-- 팝업 테이블 css -->
        <style>
            .mytable {
                border-collapse: collapse;
            }

            .mytable td,
            .mytable th {
                border: 1px solid black;
            }
        </style>        
    
    </head>

    <body id="page-top" style="margin-top: 0px;margin-bottom: 0px;">
            <!-- 최상단 바 -->
            <nav class="navbar navbar-expand navbar-dark bg-dark static-top">
                <!-- 왼쪽 상단 마크 -->
                <a class="navbar-brand mr-1" href="/notification/">
                    <img src="/icon/hustar_icon.ico" class="LogoPNG" style="width: 25px;">
                    HUSTAR                    
                </a>
                <!-- 메뉴 숨김/보이기 버튼-->
                <button
                    class="btn btn-link btn-sm text-white order-1 order-sm-0"
                    id="sidebarToggle"
                    href="#">
                    <i class="fas fa-bars"></i>
                </button>

                <!-- Navbar 검색바 - 현재 검색기능 삭제 -->
                <form
                    class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
                    <div class="input-group">
                        <div class="input-group-append">
                            <i>
                                <!-- 삭제부분 -->
                            </i>
                        </div>
                    </div>
                </form>

                <!-- 우측 상단 user 아이콘 메뉴 -->
                <ul class="navbar-nav ml-auto ml-md-0">
                    <!-- 회원 아이콘 -->
                    <li class="nav-item dropdown no-arrow">
                        <a
                            class="nav-link dropdown-toggle"
                            href="#"
                            id="userDropdown"
                            role="button"
                            data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false">
                            <i class="fas fa-user-circle fa-fw"></i>
                        </a>

                        <!-- 메뉴 박스 -->
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                            <!-- 1번 메뉴-->
                            <a class="dropdown-name">
                                <script>
                                    var name = sessionStorage.getItem('name');
                                    document.write(name);
                                </script>
                            </a>
                            <!-- 경계선 -->
                            <div class="dropdown-divider"></div>
                            <!-- 2번 선택 메뉴 -->
                            <a
                                class="dropdown-item"
                                id="signoutb"
                                href="#"
                                data-toggle="modal"
                                data-target="#logoutModal">로그아웃
                            </a>
                        </div>

                    </li>
                </ul>
            </nav>

            <div id="wrapper">

                <!-- 왼쪽 사이드바 -->
                <ul class="sidebar navbar-nav">
                    <!-- 메인 메뉴 -->
                    <!-- 공지사항 -->
                    <li class="nav-item">
                        <a class="nav-link" href="/notification/">
                            <i class="fas fa-fw fas fa-bell"></i>                            
                            <span>공지사항</span>
                        </a>                        
                    </li>

                    <!-- 출결 -->
                    <li class="nav-item dropdown">
                        <a
                            class="nav-link dropdown-toggle"
                            href="#"
                            id="pagesDropdown"
                            role="button"
                            data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false">
                            <i class="fas fa-fw fa-chart-area"></i>
                            <span>출결</span>
                        </a>

                        <!-- 서브 메뉴-->
                        <div class="dropdown-menu" aria-labelledby="pagesDropdown">
                            <h6 class="dropdown-header">출결</h6>
                            <a class="dropdown-item" id="myAttend" href="/PI">내 출결 상황</a>         
                            <h6 class="dropdown-header">사유서</h6>               
                            <a class="dropdown-item" id="myWhyWrite" href="/PI">사유서 작성</a>
                            <a class="dropdown-item" id="myWhy" href="/PI">내 사유서</a>
                        </div>
                    </li>

                    <!-- 도서대출  -->
                    <li class="nav-item ">
                        <a class="nav-link" href="/charts">
                            <i class="fas fa-fw fa-book-open"></i>
                            <span>도서 대출</span>
                        </a>
                    </li>

                    <!-- 기자재 대출  -->
                    <li class="nav-item">
                        <a class="nav-link" href="/maps">
                            <i class="fas fa-fw fa-box-open"></i>
                            <span>기자재 대출</span>
                        </a>
                    </li>

                    <!-- 개인 신상 수정  -->
                    <li class="nav-item">
                        <a class="nav-link" href="/maps">
                            <i class="fas fa-fw fa-file"></i>
                            <span>내 신상 기록 카드</span>
                        </a>
                    </li>

                     <!-- 관리자 기능 -->
                     <li class="nav-item dropdown active">
                        <a
                            class="nav-link dropdown-toggle active"
                            href="#"
                            id="pagesDropdown"
                            role="button"
                            data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false">
                            <i class="fas fa-fw fa-tools"></i>
                            <span>관리자 기능</span>
                        </a>

                        <!-- 서브 메뉴-->
                        <div class="dropdown-menu" aria-labelledby="pagesDropdown">
                            <a class="dropdown-item" id="adminStudent" href="/admin/user/">교육생 현황</a>
                            <a class="dropdown-item" id="adminNotifi" href="/notification/wirte/">공지사항 입력</a>
                            <h6 class="dropdown-header">출결</h6> 
                            <a class="dropdown-item" id="adminAttend" href="/admin/user/attendance/page/">출결 상황보기</a>
                            <a class="dropdown-item" id="adminAttend" href="/admin/user/attendance/search/">교육생 출결 검색</a>
                            <h6 class="dropdown-header">대출</h6>                             
                            <a class="dropdown-item" id="adminBook" href="/change_password">도서 대출 보기</a>
                            <a class="dropdown-item" id="adminTool" href="/change_password">기자재 대출 보기</a>        
                            <h6 class="dropdown-header">등록 관리</h6>                    
                            <a class="dropdown-item active" id="adminDevice" href="/admin/device/">기기등록 현황</a>
                            <a class="dropdown-item" id="adminFingerprint" href="/admin/fingerprint/">지문등록 현황</a>
                        </div>

                    </li>

                    <!-- 내 계정관리 -->
                    <li class="nav-item dropdown">
                        <a
                            class="nav-link dropdown-toggle"
                            href="#"
                            id="pagesDropdown"
                            role="button"
                            data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false">
                            <i class="fas fa-fw fa-folder"></i>
                            <span>내 계정관리</span>
                        </a>

                        <!-- 서브 메뉴-->   
                        <div class="dropdown-menu" aria-labelledby="pagesDropdown">
                            <a class="dropdown-item" id="myaccountb" href="/myaccount">내 계정</a>
                            <a class="dropdown-item" href="/change_password">비밀번호 변경</a>
                            <a
                                class="dropdown-item"
                                id="signoutb"
                                href="#"
                                data-toggle="modal"
                                data-target="#logoutModal">로그아웃</a>
                            <a class="dropdown-item" href="/change_idcancellation">회원 탈퇴</a>
                        </div>
                    </li>

                    
                </ul>

                <!-- 우측 메인 화면 -->
                <div id="content-wrapper" style="padding-bottom: 0px;">
                    
                    <div class="container-fluid">
                        <!-- 흰 소제목 바 -->
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item">
                                <a href="/admin/device/">기기 관리</a>
                            </li>
                            <!-- <li class="breadcrumb-item active">목록</li> -->
                        </ol>

                        <!-- 페이지 내용 -->
                        <div id="layoutSidenav_content" style="padding-bottom: 50px;">                            
                            <div class="card mb-4">
                                <!-- <div class="card-header"><i class="fas fa-table mr-1"></i>DataTable Example</div> -->
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class ="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th>교육생 이름</th>
                                                    <th>기기 MAC 주소</th>
                                                    <th>등록일</th>
                                                    <th>기기 등록</th>
                                                    <th>기기 삭제</th>
                                                    <th>기기 수정</th>                                                    
                                                </tr>
                                            </thead>
                                            <!-- <tfoot>
                                                <tr>
                                                    <th>교육생 이름</th>
                                                    <th>기기 MAC 주소</th>
                                                    <th>등록일</th>
                                                    <th>기기 삭제</th>
                                                    <th>기기 수정</th>                                                    
                                                </tr>
                                            </tfoot> -->
                                            <tbody id = "deviceList">                                                                            
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>                            

                            <!-- <div id='paging' style="position: relative; width: 80%; margin: 0 auto; text-align: center; margin-top: 250px;">
                                <ul class="pagination ">
                                    <li class="left-etc"><a href="#">&laquo;</a></li>
                                    <li class="active"><a href="#">1</a></li>
                                    <li ><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>                                   
                                    <li class="right-etc"><a href="#">&raquo;</a></li>
                                </ul>
                            </div> -->
                        </div>
                    </div>
                    <!-- /.container-fluid -->

                    <!-- 맨 밑 하다 copyright 부분-->
                    <footer class="footer py-4 bg-light mt-auto">
                        <div class="container-fluid">
                            <div class="d-flex align-items-center justify-content-between small">
                                <div class="text-muted">Copyright &copy; Your Website 2019</div>
                                <div>
                                    <a href="#">Privacy Policy</a>
                                    &middot;
                                    <a href="#">Terms &amp; Conditions</a>
                                </div>
                            </div>
                        </div>
                    </footer>

                </div>
                <!-- /content-wrapper -->
            </div>
            <!-- /#wrapper -->

            <!-- 최상단으로 이동하는 버튼 -->
            <a class="scroll-to-top rounded" href="#page-top">
                <i class="fas fa-angle-up"></i>
            </a>

                <!-- 로그아웃 모달 -->
                <div
                    class="modal fade"
                    id="logoutModal"
                    tabindex="-1"
                    role="dialog"
                    aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">로그아웃</h5>
                                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="modal-body">로그아웃 하실래요?</div>
                            <div class="modal-footer">
                                <button class="btn btn-secondary" type="button" data-dismiss="modal">닫기</button>
                                <a class="btn btn-primary" id="logoutb">로그아웃</a>                                
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 기기 등록 모달 -->
                <div
                    class="modal fade"
                    id="registModal"
                    tabindex="-1"
                    role="dialog"
                    aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">기기 등록</h5>
                                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                등록할 기기의 MAC 주소를 입력하세요
                                <input type="text" class="form-control" id ="registMac">
                                <input id ="tt" style='display: none'></input>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-secondary" type="button" data-dismiss="modal">닫기</button>
                                <a class="btn btn-primary" id="registb">등록</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 기기 삭제 모달 -->
                <div
                    class="modal fade"
                    id="deleteModal"
                    tabindex="-1"
                    role="dialog"
                    aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">기기 삭제</h5>
                                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                기기를 삭제하시겠습니까?                                
                                <input id ="tt" style='display: none'></input>
                                <input id ="kk" style='display: none'></input>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-secondary" type="button" data-dismiss="modal">닫기</button>
                                <a class="btn btn-primary" id="deleteb">삭제</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 기기 수정 모달 -->
                <div
                    class="modal fade"
                    id="updateModal"
                    tabindex="-1"
                    role="dialog"
                    aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">기기 수정</h5>
                                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                변경할 기기의 MAC 주소를 입력해주세요
                                <input type="text" class="form-control" id ="newMac">
                                <input id ="tt" style='display: none'></input>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-secondary" type="button" data-dismiss="modal">닫기</button>
                                <a class="btn btn-primary" id="updateb">수정</a>
                            </div>
                        </div>
                    </div>
                </div>
                
            <!-- 로그아웃 버튼 동작 -->
            <script type="text/javascript">
                document.getElementById("logoutb").addEventListener('click', function () {
                    // Check the value are all filled
                    var usn = sessionStorage.getItem('usn');
                    //send json
                    $.ajax({
                        method: "POST",
                        url: "/signout",
                        data: {
                                "USN": usn
                            }
                        }).done(function (msg) {
                            if (msg.message == 0) {
                                //logout success sessionStorage clear
                                sessionStorage.clear();
                                location.href = "/";
                            }
                            if (msg.message == 1) {
                                alert("로그아웃 다시해주세요");
                            }
                        });
                    });
            </script>

             <!-- 등록 버튼 동작 -->
             <script type="text/javascript">
                document.getElementById("registb").addEventListener('click', function () {
                    // Check the value are all filled
                    var usn = document.getElementById("tt").value;     
                    var mac = document.getElementById("registMac").value;                    
                    //send json
                    $.ajax({
                        method: "POST",
                        url: "/device/register",
                        data: {
                                "USN": usn,
                                "MAC": mac
                            }
                        }).done(function (msg) {
                            if (msg.message == 0) {                                
                                alert("등록 성공");
                                location.href = "/admin/device/";
                            }else if (msg.message == 1) {
                                alert("이미 등록된 기기 입니다.");
                            }else if (msg.message == 2) {
                                alert("등록 실패");
                            }else if(msg.message == 3){
                                alert("이미 기기 등록한 회원입니다.");
                            }
                        });
                    });
            </script>
            
            <!-- 삭제 버튼 동작 -->
            <script type="text/javascript">
                document.getElementById("deleteb").addEventListener('click', function () {
                    // Check the value are all filled
                    var usn = document.getElementById("tt").value;     
                    var mac = document.getElementById("kk").value;
                    //send json
                    $.ajax({
                        method: "POST",
                        url: "/device/deregistration",
                        data: {
                                "USN": usn,
                                "MAC": mac
                            }
                        }).done(function (msg) {
                            if (msg.message == 0) {                                
                                alert("삭제 되었습니다.");
                                location.href = "/admin/device/";
                            }else if (msg.message == 1) {
                                alert("삭제 실패 하였습니다.");
                                location.href = "/admin/device/";
                            }
                        });
                    });
            </script>

            <!-- 수정 버튼 동작 -->
            <script type="text/javascript">
                document.getElementById("updateb").addEventListener('click', function () {
                    // Check the value are all filled
                    var usn = document.getElementById("tt").value;     
                    var mac = document.getElementById("newMac").value;
                    //send json
                    $.ajax({
                        method: "POST",
                        url: "/device/update",
                        data: {
                                "USN": usn,
                                "MAC": mac
                            }
                        }).done(function (msg) {
                            if (msg.message == 0) {                                
                                alert("수정 되었습니다.");
                                location.href = "/admin/device/";
                            }else if (msg.message == 1) {
                                alert("수정 실패 하였습니다.");
                                location.href = "/admin/device/";
                            }
                        });
                    });
            </script>

            <!-- Core plugin JavaScript-->
            <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

            <!-- 필수 js-->
            <!-- Bootstrap core JavaScript-->
            <script src="/vendor/jquery/jquery.min.js"></script>
            <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

            <!-- Core plugin JavaScript-->
            <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

            <!-- Custom scripts for all pages-->
            <script src="/js/sb-admin.min.js"></script>

            <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
            <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
            <script src="/assets/demo/datatables-demo.js"></script>
            <!-- /. 필수 js -->    
            <script>
                $.ajax({
                    method: "post",
                    url: "/device/list/",
                    dataType: 'json',
                    data: {                               
                        }
                    }).done(function (msg) {                        
                        var html = '';
                        var index = msg[i]
                        for(var i = 0; i<msg.length; i++){   
                            html += "<tr>";
                            html += "<td id = 'no' >"+msg[i]['USER_NAME']+"</td>";
                              
                            if(msg[i]['DEVICE_MAC'] == null){
                                msg[i]['DEVICE_MAC'] = "-";
                                msg[i]['DEVICE_REGISTER_DAY'] = "-";

                                html += "<td style='display: none'>"+msg[i]['USER_USN']+"</td>";
                                html += "<td >"+msg[i]['DEVICE_MAC']+"</td>";
                                html += "<td>"+msg[i]['DEVICE_REGISTER_DAY']+"</td>";                                    
                                html += "<td>"+"<input type='submit' class='btn btn-success'  name = 'insertb' id = 'insertb' data-toggle='modal' data-target='#registModal'style='width: 80%;'' value='등록'>"+"</td>";
                                html += "<td>"+"<input type='submit' class='btn btn-danger' disabled='disabled' id = 'eraseb' style='width: 80%;'' value='삭제' disable>"+"</td>";
                                html += "<td>"+"<input type='submit' class='btn btn-secondary' disabled='disabled' id = 'changeb' style='width: 80%;'' value='수정' disable>"+"</td>";
                                html += "<tr>";
                            }else{
                                html += "<td style='display: none'>"+msg[i]['USER_USN']+"</td>";
                                html += "<td >"+msg[i]['DEVICE_MAC']+"</td>";
                                html += "<td>"+msg[i]['DEVICE_REGISTER_DAY']+"</td>";                                    
                                html += "<td>"+"<input type='submit' class='btn btn-success' disabled='disabled' id = 'insertb' style='width: 80%;'' value='등록'>"+"</td>";
                                html += "<td>"+"<input type='submit' class='btn btn-danger' id = 'eraseb' data-toggle='modal' data-target='#deleteModal' style='width: 80%;'' value='삭제'>"+"</td>";
                                html += "<td>"+"<input type='submit' class='btn btn-secondary' id = 'changeb' data-toggle='modal' data-target='#updateModal' style='width: 80%;'' value='수정'>"+"</td>";
                                html += "<tr>";
                            }                         

                            $("#deviceList").html(html);
                            //$("#dataTable").DataTable();                           
                        }                             
                    });
                </script>          

                <!-- 등록 버튼 클릭시 해당 값 불러오기-->       
                <script>
                    $(document).on('click', '#insertb', function(){
                        var str = ""
                        var tdArr = new Array();	// 배열 선언
                        var checkBtn = $(this);
                        
                        // checkBtn.parent() : checkBtn의 부모는 <td>이다.
                        // checkBtn.parent().parent() : <td>의 부모이므로 <tr>이다.
                        var tr = checkBtn.parent().parent();
                        var td = tr.children();
                        
                        //console.log("클릭한 Row의 모든 데이터 : "+tr.text());
                        
                        //var no = td.eq(0).text();
                        var userid = td.eq(1).text();
                        //var name = td.eq(2).text();
                        //var email = td.eq(3).text();

                        document.getElementById("tt").value = userid;      
                        
                        // // 반복문을 이용해서 배열에 값을 담아 사용할 수 도 있다.
                        // td.each(function(i){	
                        //     tdArr.push(td.eq(i).text());
                        // });
                        
                        // console.log("배열에 담긴 값 : "+tdArr);
                        
                        // str +=	" * 클릭된 Row의 td값 = No. : <font color='red'>" + no + "</font>" +
                        //         ", 아이디 : <font color='red'>" + userid + "</font>" +
                        //         ", 이름 : <font color='red'>" + name + "</font>" +
                        //         ", 이메일 : <font color='red'>" + email + "</font>";		
                        
                        // $("#ex2_Result1").html(" * 클릭한 Row의 모든 데이터 = " + tr.text());		
                        // $("#ex2_Result2").html(str);	
                    });

                    $(document).on('click', '#eraseb', function(){
                        var str = ""
                        var tdArr = new Array();	// 배열 선언
                        var checkBtn = $(this);                        
                        
                        var tr = checkBtn.parent().parent();
                        var td = tr.children();
                        
                        var userid = td.eq(1).text();
                        var userdevice = td.eq(2).text();                        

                        document.getElementById("tt").value = userid;
                        document.getElementById("kk").value = userdevice;                             
                    });
                    
                    $(document).on('click', '#changeb', function(){
                        var str = ""
                        var tdArr = new Array();	// 배열 선언
                        var checkBtn = $(this);                        
                        
                        var tr = checkBtn.parent().parent();
                        var td = tr.children();
                        
                        var userid = td.eq(1).text();
                        var userdevice = td.eq(2).text();                        

                        document.getElementById("tt").value = userid;
                        document.getElementById("newMac").value = userdevice;
                    });
                </script>
            </body>
        </html>