<!DOCTYPE html>
<html lang="kr">

<head>
 

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">


  <title>휴스타 출결 관리 시스템입니다.</title>

  <link rel="shortcut icon" href="/hustar_server/app/templates/image/favicon.ico" type="image/x-icon"/>

  <!-- Custom fonts for this template-->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

  <!-- Page level plugin CSS-->
  <link href="vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="css/sb-admin.css" rel="stylesheet">  
  
  <!-- 팝업 테이블 css -->
  <style>
    .mytable {
      border-collapse: collapse;
    }

    .mytable th,
    .mytable td {
      border: 1px solid black;
    }
  </style>
</head>

<body id="page-top">  
  <script>
    // 로그인 SESSION이 없으면 로그인 페이지로 이동
    if (sessionStorage.getItem('usn') == null) {
      location.href = "/";
    }
  </script>
  <nav class="navbar navbar-expand navbar-dark bg-dark static-top">
  
    <a class="navbar-brand mr-1" href="/main">HUSTAR</a>
    <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
      <i class="fas fa-bars"></i>
    </button>

    <!-- Navbar Search -->
    <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
      <div class="input-group">
        <div class="input-group-append">
          <i></i>
        </div>
      </div>
    </form>

    <!-- Navbar -->
    <ul class="navbar-nav ml-auto ml-md-0">
      <li class="nav-item dropdown no-arrow">
        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-user-circle fa-fw"></i>
        </a>

        <!-- 회원 아이콘-->
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
          <a>
            &nbsp &nbsp &nbsp
            <script>
              var name = sessionStorage.getItem('name');
              document.write(name);
            </script>
          </a>
          <div class="dropdown-divider"></div>
          
     
          <a class="dropdown-item" id="signoutb" href="#" data-toggle="modal" data-target="#logoutModal">로그아웃</a>
     

        </div>
      </li>
    </ul>
  </nav>

  <div id="wrapper">
    <!-- Sidebar -->
    <ul class="sidebar navbar-nav">
       <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-fw fa-folder"></i>
          
          <span>메인</span>
          
          <div class="dropdown-menu" aria-labelledby="pagesDropdown">
            <a class="dropdown-item" href="/calendar">달력</a>
            <a class="dropdown-item" href="/change_password">비밀번호 변경</a>
          
        </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-fw fa-folder"></i>

          <span>교육생 현황</span>
        </a>
        
       
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/charts">
          <i class="fas fa-fw fa-chart-area"></i>
          <span>출결 현황</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/maps">
          <i class="fas fa-fw fa-chart-area"></i>
          <span>Map</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-fw fa-folder"></i>
          <span>내 계정관리</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="pagesDropdown">
          <a class="dropdown-item" id="myaccountb" href="/myaccount">내 계정</a>
          <a class="dropdown-item" href="/change_password">비밀번호 변경</a>
          <a class="dropdown-item" id="signoutb" href="#" data-toggle="modal" data-target="#logoutModal">로그아웃</a>
          <a class="dropdown-item" href="/change_idcancellation">회원 탈퇴</a>


    </ul>

    <div id="content-wrapper">
      <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="#">HUSTAR</a>
          </li>
          <li class="breadcrumb-item active">Overview</li>
        </ol>

        <!-- Google map-->
        <!-- 구글 맵은 이거 복붙-->
        <div class="card mb-3">
          <div class="card-header">              
            <i class="fas fa-chart-area"></i>
            AQI Map
            <div>
                <!-- <input type="date" id = "datechanger" name = "datechanger" onchange="mapchange(this);"> -->
            </div>
          </div>
          <div class="card-body">
            <div id="map_canvas" style="position: relative;overflow: hidden;height: 500px;"></div>
            <script async defer
              src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCZ_5s3S4uTqhtcBNUndDLKvmvcD23QKvY&language=en&callback=initMap">
              </script>
            <div class='myLinkContainer'></div>
          </div>
        </div>

        <!-- Google Chart-->
        <div class="card mb-3">
          <div class="card-header">            
            <i class="fas fa-chart-area"></i>
            Real-Time Chart
          </div>
          <div class="card-body">
            <!-- 차트 그림은 이거 복붙-->
            <div id="dual_x_div" style="width: 900px; height: 500px;"></div>
          </div>
        </div>

        <!-- DataTables Example -->
        <br><br>
        <div class="card mb-3">
          <div class="card-header">
            <i class="fas fa-table"></i>
            Sensor List Table</div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th>MAC</th>
                    <th>Sensor Name</th>
                    <th>State</th>
                  </tr>
                </thead>
                <tbody id="senosr_list">
                  <!-- 센서 값 반복문-->
                  <script>
                    var usn = sessionStorage.usn;
                    //send json
                    $.ajax({
                      method: "POST",
                      url: "/sensorList",
                      'dataType': "json",
                      data: {
                        "usn": usn
                      }
                    }).done(function (msg) {
                      var lenght = msg.message.length;
                      var temp = JSON.stringify(msg.message);

                      for (var i = 0; i < lenght; i++) {
                        var tr = document.createElement('tr');

                        if (JSON.parse(temp)[i].state == 1)
                          var text = '<th>' + JSON.parse(temp)[i].mac + '</th>' + '<th>' + JSON.parse(temp)[i].name + '</th>' + '<th>' + "Active" + '</th>';
                        else
                          var text = '<th>' + JSON.parse(temp)[i].mac + '</th>' + '<th>' + JSON.parse(temp)[i].name + '</th>' + '<th>' + "NotActive" + '</th>';

                        tr.innerHTML = text;
                        document.getElementById('senosr_list').appendChild(tr);
                      }
                    });
                  </script>
                </tbody>
              </table>
            </div>
          </div>
          <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
        </div>

      </div>
      <!-- /.container-fluid -->

      <!-- Sticky Footer -->
      <footer class="sticky-footer">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>HUSTAR</span>
          </div>
        </div>
      </footer>

    </div>
    <!-- /.content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">로그아웃</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">로그아웃 하실래요?</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">닫기</button>
          <a class="btn btn-primary" id="logoutb">로그아웃</a>
          <!-- LogOut btn action -->
          <script type="text/javascript">
            document.getElementById("logoutb").addEventListener('click', function () {
              // Check the value are all filled
              var usn = sessionStorage.getItem('usn');
              //send json
              $.ajax({
                method: "POST",
                url: "/signout",
                data: {
                  "USN": usn
                }
              }).done(function (msg) {
                if (msg.message == 0) {
                  //logout success
                  //sessionStorage clear
                  sessionStorage.clear();
                  location.href = "/";
                }
                if (msg.message == 1) {
                  alert("로그아웃 다시해주세요");
                }
              });
            });
          </script>
        </div>
      </div>
    </div>
  </div>


  <!-- My Account-->
  <!-- <div class="modal fade" id="MyaccountModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="accountModalLabel">My Account</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Your Email: teamciot2019@gmail.com<br>Your Name: Jane</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="login.html">Change</a>
        </div>
      </div>
    </div>
  </div> -->






  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Page level plugin JavaScript-->
  <script src="vendor/chart.js/Chart.min.js"></script>
  <script src="vendor/datatables/jquery.dataTables.js"></script>
  <script src="vendor/datatables/dataTables.bootstrap4.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="js/sb-admin.min.js"></script>

  <!-- Demo scripts for this page-->
  <!-- <script src="js/demo/datatables-demo.js"></script>
  <script src="js/demo/chart-area-demo.js"></script> -->

</body>
</html>