<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>이메일을 확인해 주세요!</title>

  <!-- Custom fonts for this template-->
  <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template-->
  <link href="/css/sb-admin.css" rel="stylesheet">
  <!--상단 휴스타 이미지-->
  <style>
 

    #image{
        margin: 0 auto;
        width: 230px;
        height: 100px;
        background-image: url(https://ifh.cc/g/UG86R.png);
        /*background-size: 50%;*/
        background-repeat: no-repeat;
        /*background-attachment: fixed;*/
    }

</style>


</head>

<body >

  <div class="container">

    <div id="image">
  
    </div>
   
    <div class="card card-login mx-auto mt-5" style="margin-top: 5px;">
      <div class="card-header">이메일을 확인해 주세요!</div>
      <div class="card-body">
        <div class="text-center mb-4">
          <p>우리는 당신의 이메일 주소로 인증 URL을 보냈습니다. 이메일을 확인 후 회원가입하십시오.!</p>
        </div>
        <form>
          <div class="form-group">
          </div>
          <div class="form-group">
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

</body>

</html>