<!DOCTYPE html>
<html lang="kr">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Hustar 회원가입</title>

  <!-- Custom fonts for this template-->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template-->
  <link href="css/sb-admin.css" rel="stylesheet">




  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>




</head>

<body class="bg-dark">
<p>{{code}}</p>
  <div class="container">
    <div class="card card-register mx-auto mt-5">
      <div class="card-header">회원 가입</div>
      <div class="card-body">
        <form>
          <div class="form-group">
            <div class="form-label-group">
              <input type="email" name= "email" id="inputEmail" class="form-control" placeholder="Email address" required="required" value={{code}}>
              
              <label for="inputEmail">아이디(Email)</label>
            </div>
          </div>
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <div class="form-label-group">
                  <input type="text" id="firstName" class="form-control" placeholder="성" required="required" autofocus="autofocus">
                  <label for="firstName">성</label>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-label-group">
                  <input type="text" id="lastName" class="form-control" placeholder="이름" required="required">
                  <label for="lastName">이름</label>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <div class="form-label-group">
                  <input type="password" id="inputPassword" class="form-control" placeholder="비밀번호" required="required">
                  <label for="inputPassword">비밀번호</label>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-label-group">
                  <input type="password" id="confirmPassword" class="form-control" placeholder="비밀번호 재확인" required="required">
                  <label for="confirmPassword">비밀번호 재확인</label>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <div class="form-label-group">
                  <input type="date" id="Birth" class="form-control" placeholder="First name" required="required" autofocus="autofocus">
                </div>
              </div>            
              <div class="col-md-6"><br>
                <button type="button" class="btn btn-success" data-toggle="button">남성</button>
                <button type="button" class="btn btn-warning" data-toggle="button">여성</button>
              </div>
            </div>
          </div>
          <a class="btn btn-primary btn-block" id=registerb href="login.html">등록</a>
        </form>
        <div class="text-center">
          <a class="d-block small mt-3" href="login.html">로그인</a>
          <a class="d-block small" href="forgot-password.html">비밀번호를 잃어버렸어요...</a>
        </div>
        <script type="text/javascript">
          document.getElementById("registerb").addEventListener('click', function(){alert("Hustar가 되신걸 환영합니다");});
        </script>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

</body>

</html>
